
.projeto {

    position:relative;
}

.text{
    text-align: center;
    position: absolute;
    top: 80px;
    left: 60px;
}

.t-projeto{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 80px;
    left: 100px;
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    width: 300px;
}

.p-projeto {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 170px;
    left: auto;
    text-align:center;
    height: 375px;
    width: 506px;
    font-size: 24px;
    line-height: 28px;

}



.img-projeto {
    position: absolute;
    top: 120px;
    right: 0;
    left: 680px;
    width: 600px;
    height: 400px;
    
    box-shadow: 30px -40px #4C2B7E;
}