@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

section {
    background-color: #764ABB;
    width: 100vw;
    height: auto;
    color: white;
    padding-top: 5%;
    font-family: 'Roboto', sans-serif;

}

.amarelo {
    color: #FAC504;
}

#sobre-yaman {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    
    
}

#sobre-yaman h1 {
    display: inline;
    font-size: 55px;
    font-weight: bolder;
    text-transform: uppercase;
}

#texto-sobre-yaman {
    position: relative;
    font-size: 16px;
    width: 55%;
    height: auto;
    line-height: 18px;
    margin-top: 23px;
    margin-right: 22%;
    margin-left: 22%;
}

#projeto-yaman{
    position: relative;
    display: inline-block;
    
    margin-top: 30%;

}

#site-yaman {
    bottom: 300px;
    left: 100px;
    position: relative;
    display: inline-block;
    width: 25%;
    height: auto;
    align-content: center;
    display: grid;

}
.add-circulo{
    width: 280px;
    height: 280px;
    align-self: center;
    border-radius: 100%;
    margin: 5px auto 5px auto;
    overflow: hidden;
    position: relative;
}
.add-circulo img{
    width: initial;
    height: inherit;
    max-width: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#site-yaman .text{
    line-height: 45px;
}
#site-yaman p {
    text-align: center;
    font-size: 27px;
}

#site-yaman .amarelo{
    text-transform: uppercase;
    text-decoration: underline;

}

#projeto-yaman h1 {
    display: inline-block;
    position: relative;
    left: 700px;
    bottom: 600px;
    font-size: 60px;
    font-weight: bold;
}
.box-text{
        width: 800px;
        padding: 10px;
        margin: 0;
        position: absolute;
        display: inline-block;
        bottom: 550px;
        left: 600px;
        color: rgba(255, 255, 255, 0.82);
}
.first-box{
    margin: -5px;
    position: absolute;
    float: left;
    border-width: 2px;
    width:auto;
    height: auto;
    left: 300px;
    margin: auto 100px auto;
}

.first-box .amarelo{
    font-weight: bold;
    font-size: 20px;
}
.scd-box {
    position: absolute;
    float: left;
    border-width:2px;
    width:300px;
    height: 700px;

}

.scd-box .amarelo{
    font-size: 20px;
    font-weight: bold;
}

.mais-info{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

#background-img img{
    width: 2000px;
    height: 500px;

    bottom: 0;
    left: 0;
    /*object-fit: cover;*/
}